In [1]:
import pandas as pd

In [2]:
# The scenario is to create pivot table to show Sales of each [Company]-[Product] pairs
df = pd.read_csv('data/sales-feb-2015.csv')
df

                   Date          Company   Product  Units
0   2015-02-02 08:30:00            Hooli  Software      3
1   2015-02-02 21:00:00        Mediacore  Hardware      9
2   2015-02-03 14:00:00          Initech  Software     13
3   2015-02-04 15:30:00        Streeplex  Software     13
4   2015-02-04 22:00:00  Acme Coporation  Hardware     14
5   2015-02-05 02:00:00  Acme Coporation  Software     19
6   2015-02-05 22:00:00            Hooli   Service     10
7   2015-02-07 23:00:00  Acme Coporation  Hardware      1
8   2015-02-09 09:00:00        Streeplex   Service     19
9   2015-02-09 13:00:00        Mediacore  Software      7
10  2015-02-11 20:00:00          Initech  Software      7
11  2015-02-11 23:00:00            Hooli  Software      4
12  2015-02-16 12:00:00            Hooli  Software     10
13  2015-02-19 11:00:00        Mediacore  Hardware     16
14  2015-02-19 16:00:00        Mediacore   Service     10
15  2015-02-21 05:00:00        Mediacore  Software      3
16  2015-02-21 20:30:00            Hooli  Hardware      3
17  2015-02-25 00:30:00          Initech   Service     10
18  2015-02-26 09:00:00        Streeplex   Service      4

In [3]:
# There are duplicated [Company]-[Product] pairs
# Apply group by to get the aggregrated sum
df_group = df.groupby(['Company', 'Product']).sum()
df_group

                          Units
Company         Product
Acme Coporation Hardware     15
                Software     19
Hooli           Hardware      3
                Service      10
                Software     17
Initech         Service      10
                Software     20
Mediacore       Hardware     25
                Service      10
                Software     10
Streeplex       Service      23
                Software     13

In [4]:
# The outcome of group by contains multiple indexes
# Apply reset_index() to move all the index columns to columns
df_new = df_group.reset_index()
df_new

            Company   Product  Units
0   Acme Coporation  Hardware     15
1   Acme Coporation  Software     19
2             Hooli  Hardware      3
3             Hooli   Service     10
4             Hooli  Software     17
5           Initech   Service     10
6           Initech  Software     20
7         Mediacore  Hardware     25
8         Mediacore   Service     10
9         Mediacore  Software     10
10        Streeplex   Service     23
11        Streeplex  Software     13

In [5]:
# The last step is straight forward
# Just configure index, column & values
df_pivot = df_new.pivot(index='Company', columns='Product', values='Units')
df_pivot

Product          Hardware  Service  Software
Company
Acme Coporation      15.0      NaN      19.0
Hooli                 3.0     10.0      17.0
Initech               NaN     10.0      20.0
Mediacore            25.0     10.0      10.0
Streeplex             NaN     23.0      13.0